body {
  margin: 0px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

#qr_code_play {
  left: 0px;
}
#qr_code_play > img {
  border: lightgreen solid;
}

#qr_code_config {
  right: 0px;
}
#qr_code_config > img {
  border: yellow solid;
}

.qr_code {
  position: fixed;
  bottom: 0px;
  padding: 10px;
}

.qr_code > img {
  height: 100px;
  margin-right: auto;
  margin-left: auto;
}
