body {
  margin: 0px;
}
#qr_code {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 10px;
  text-align: center;
}

#qr_code > img {
  height: 100px;
  margin-right: auto;
  margin-left: auto;
}
