/* wizard */

.rotate3d {
  position:absolute;
  margin: 25px;
  left:0px;
  top:0px;
  min-height: 40%;
  min-width: 40%;
  max-height: calc(50% - 10px);
  max-width: calc(50% - 10px);
}
.invert {
  position:absolute;
  margin: 25px;
  top:0px;
  right:0px;
  min-height: 40%;
  min-width: 40%;
  max-height: calc(50% - 10px);
  max-width: calc(50% - 10px);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2em;
}
.instruction {
  position:absolute;
  margin: 25px;
  bottom:0px;
  left:0px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2em;
  min-height: 30%;
  min-width: 40%;
  max-height: calc(50% - 10px);
  max-width: calc(50% - 10px);
  text-align: center;
}
.ship-select {
  position:absolute;
  margin: 25px;
  top:0px;
  right:0px;
  min-height: 40%;
  min-width: 40%;
  max-height: calc(50% - 10px);
  max-width: calc(50% - 10px);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2em;
  min-height: 30%;
  min-width: 40%;
  text-align: center;
}
.continue {
  position:absolute;
  margin: 25px;
  bottom:0px;
  right:0px;
  min-height: 30%;
  min-width: 40%;
  max-height: calc(50% - 10px);
  max-width: calc(50% - 10px);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2em;
}
/* attack screen */

#fire {
  /*position: fixed;*/
  text-align: center;
  width: 100%;
  height: 100%;
  background: darkred;
  border: none;
}

/* stuff for flipsnap */

.viewport {
  position: absolute;
  bottom: 10px;
  width: 320px;
  overflow: hidden;
  -webkit-transform: translateZ(0); /* Optional: When heavy at iOS6+ */
}

.flipsnap {
  width: 2095px; /* add 200 for every new item */
  padding-left: 45px;
}

.item {
  width: 200px;
  margin: 0 10px;
  font-size: 50px;
  text-align: center;
  padding: 50px 0;
  background: #EFEFEF;
  border: 5px solid #999;
  border-radius: 40px;
  float: left;
}
.selected {
  border: 5px solid #090;
}

.flipsnap:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
